/* Light mode colors */
:root[color-mode="light"] {

    /* Light background colors */
    --color-background: #F7F8FB;
    --color-background-nav: rgba(247, 248, 251, 0.8);
    --color-background-text: #DEEDF8;
    --color-background-button: #1C59EB;
    --color-background-button-hovered: #184CC8;
    --color-background-card: #fcfdff;
    --color-background-landing-page: #F7F8FB;
    --color-background-about-page: #F7F8FB;
    --color-background-find-page: #F7F8FB;
    --color-background-contact-page: #F7F8FB;
    --color-background-diseases-page: #F7F8FB;
    --color-background-footer: #212121;
    --color-background-contact-button-active: #e5f3fd;

    /* Light primary/secondary etc. colors */
    --color-primary-900: #0026b6;
    --color-primary-800: #003bc8;
    --color-primary-700: #0046d3;
    --color-primary-600: #1351df;
    --color-primary-500: #1C59EB;
    --color-primary-400: #4f74f0;
    --color-primary-300: #748ff3;
    --color-primary-200: #9faff6;

    --color-secondary-500: #1ceb2a;

    /* Light text colors */
    --color-text-primary: #1F293F; /* 13.66 contrast against F7F8FB */
    --color-text-secondary: #586179; /* 5.81 contrast against F7F8FB */
    --color-text-hovered: #636D83; /* 4.88 contrast against F7F8FB */
    --color-link-hover: #2D4F9F;
    --color-text-white: #FAFCFF;
    --color-text-white-footer: #DDE6FC;
    --color-text-white-hovered: #B5B6B9; /* 7.94 contrast against #212121 */

    /* Light component colors */
    --color-arrow: #7C7E82; /* 4.06 contrast against FFF */
    --color-arrow-hovered: #7c7e82b4;
    --color-heart: 	#a6d8a1;
    --color-shadow: #9FB8F5;
    --color-shadow-hovered: #7499F1;
    --color-border: #DDE3F9;
    --color-card-shadow-hovered: #C3CEF8;

    /* Light colors */
    --color-white: #FFFFFF;
    --color-black: #212121;
}

/* Dark mode colors */
:root[color-mode="dark"] {
    --color-background: #040A17;
}

/* General variables not related to color */
:root {

    /* Font sizes */
    --text-size-footer: 1.6rem;
    --text-size-nav-link-open: 2.4rem;

    /* Border radius */
    --border-radius: 12px;

    /* Shadows */
    --box-shadow-button: 0px 7px 17px var(--color-shadow);
    --box-shadow-card: 0px 5px 12px var(--color-border);
    --box-shadow-card-hovered: 0px 7px 17px var(--color-card-shadow-hovered);

    /* Borders */
    --border-card: 1px solid var(--color-border);
}

/* TAG STYLING */

*:focus {
    outline: 4px dotted var(--color-primary-500);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--color-background);
}

img {
    height: auto;
    max-width: 100%;
}

p {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* CLASS STYLING */

/* Layout styles */

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 150rem;
}

.navbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-background-nav);
    position: fixed;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* For mobile devices and safari */
}

.full-page {
    width: 80%;
    max-width: 150rem;
}

.full-page-background {
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
}

.about-layout {
    display: flex;
    flex-flow: column nowrap;
}

.full-height {
    height: 100vh;
}

.diseases-layout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#diseases-page.full-page-background {
    overflow: hidden;
    padding-bottom: 0.3rem;
}

.disease-div {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 6.4rem;
    row-gap: 6.4rem;
    position: relative;
    padding-bottom: 1.6rem;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.left-side {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    z-index: 2;
}

.right-side {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.center-items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.nav-div {
    display: flex;
    flex-flow: row nowrap;
    justify-self: end;
}

.footer-contact-info-div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.footer-attribution-wrapper {
    display: flex;
    justify-content: flex-end;
}

.footer-attribution-div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.contact-link {
    position: relative;
}
.contact-link:hover svg {
    stroke: var(--color-primary-300);
}

.contact-link:hover .contact-subheading {
    color: var(--color-text-hovered);
    border-bottom: 4px solid var(--color-background);
}
.contact-subheading {
    border-bottom: 4px solid var(--color-text-secondary);
}

.contact-icon {
    stroke: var(--color-primary-500);
    transition: stroke 0.2s ease;
    position: absolute;
    top: 0;
    left: calc(-3rem - 1.6rem);
    margin-top: 0.6rem;
}

.column-gap-small {
    column-gap: 1.6rem;
}

.column-gap-medium {
    column-gap: 3.2rem;
}

.column-gap-large {
    column-gap: 6.4rem;
}

.column-gap-very-large {
    column-gap: 12.8rem;
}

.margin-top-none {
    margin-top: 0;
}

.margin-top-very-large {
    margin-top: 12.8rem;
}

.margin-right-mini {
    margin-right: 0.4rem;
}

.margin-right-small {
    margin-right: 1.6rem;
}

.margin-right-medium {
    margin-right: 3.2rem;
}

.margin-right-large {
    margin-right: 6.4rem;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-bottom-very-small {
    margin-bottom: 0.8rem;
}

.margin-bottom-small {
    margin-bottom: 1.6rem;
}

.margin-bottom-medium {
    margin-bottom: 3.2rem;
}

.margin-bottom-large {
    margin-bottom: 6.4rem;
}

.margin-bottom-about-page {
    margin-bottom: calc(12.8rem - 1.6rem);
}

.margin-bottom-diseases-page {
    margin-bottom: calc(12.8rem - 1.6rem);
}

.margin-bottom-very-large {
    margin-bottom: 12.8rem;
}

.margin-bottom-contact {
    margin-bottom: 12.8rem;
}

.margin-bottom-massive {
    margin-bottom: 25.6rem;
}

.margin-bottom-logo {
    margin-bottom: 18rem;
}

.margin-left-mini {
    margin-left: 0.4rem;
}

.margin-left-very-small {
    margin-left: 0.8rem;
}

.padding-top-mini {
    padding-top: 0.3rem;
}

.padding-top-telephone {
    padding-top: 0.2rem;
}

.padding-top-small {
    padding-top: 1.6rem;
}

.padding-top-medium {
    padding-top: 3.2rem;
}

.padding-top-very-large {
    padding-top: 12.8rem;
}

.padding-bottom-small {
    padding-bottom: 1.6rem;
}

.padding-bottom-medium {
    padding-bottom: 3.2rem;
}

.inline {
    display: inline;
}

/* Text styles */

.section-heading {
    font-family: "Source Serif Pro", Georgia, 'Times New Roman', Times, serif;
    font-size: 6.4rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.section-subheading {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    transition: all 0.2s ease;
}

.title {
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: -0.05em;
    max-width: 50rem;
}

.title-subheading {
    max-width: 35rem;
}

.normal-text {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 56rem;
    color: var(--color-text-primary);
}

.nav-link {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: var(--color-text-primary);
    stroke: var(--color-text-primary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 1.8rem;
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--color-primary-500);
    transition: width 0.5s;
}

.nav-link:hover::after {
    width: 100%;
}

.find-card-section-heading {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text-secondary);
}

.find-card-section-info {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-text-primary);
}

.external-link {
    color: var(--color-text-primary);
    stroke: var(--color-text-primary);
    border-bottom: 2px solid var(--color-text-primary);
    transition: all 0.2s ease;
    position: relative;
}

.external-link:hover {
    color: var(--color-text-hovered);
    stroke: var(--color-text-hovered);
    border-bottom: 2px solid var(--color-background-card);
}

.telephone-link {
    color: var(--color-text-primary);
    border-bottom: 2px solid var(--color-text-primary);
    transition: color 0.2s ease, border-bottom 0.2s ease;
}

.telephone-link:hover {
    color: var(--color-text-hovered);
    border-bottom: 2px solid var(--color-background-text);
}

.footer-text {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: var(--color-text-white-footer);
    font-size: var(--text-size-footer);
    margin-top: 0;
    position: relative;
}

.footer-link {
    color: var(--color-text-white-footer);
    stroke: var(--color-text-white-footer);
    border-bottom: 2px solid var(--color-text-white-footer);
    transition: all 0.2s ease;
    cursor: pointer;
}

.footer-link:hover {
    color: var(--color-text-white-hovered);
    stroke: var(--color-text-white-hovered);
    border-bottom: 2px solid var(--color-black);
}

.footer-link:focus {
    outline: 4px dotted var(--color-primary-200);
}

.disease-heading {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--color-text-secondary);
}

.disease-text {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    max-width: 50rem;
    color: var(--color-text-primary);
    line-height: 1.5;
}

/* Component styles */

.no-bottom-border:hover::after {
    width: 0;
}

.menu-icon {
    display: none;
    stroke: var(--color-text-primary);
    transition: transform 0.2s ease, stroke 0.2s ease;
}

.heading-accent {
    width: 5rem;
    height: 0.5rem;
    background-color: var(--color-primary-500);
    border-radius: var(--border-radius);
}

.contact-button {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--color-text-white);
    background-color: var(--color-background-button);
    border-radius: var(--border-radius);
    padding: 1.6rem 3.2rem;
    box-shadow: var(--box-shadow-button);
    transition: box-shadow 0.2s ease, transform 0.2s ease,
                background-color 0.2s ease;
}

.to-top-button {
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    height: 6rem;
    width: 6rem;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--color-primary-500);
    color: var(--color-text-primary);
    border-radius: 100%;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-button);
    transition: all 0.2s ease;
}

.show {
    display: flex;
}

.top-button-icon {
    stroke: var(--color-text-white);
}

.disease-button {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--color-text-white);
    stroke: transparent;
    background-color: var(--color-background-button);
    border-radius: var(--border-radius);
    padding: 1.6rem 4.8rem;
    position: relative;
    box-shadow: var(--box-shadow-button);
    transition: box-shadow 0.2s ease, transform 0.2s ease,
                background-color 0.2s ease;
}

.text-box {
    box-sizing: border-box;
    background-color: var(--color-background-text);
    border-radius: var(--border-radius);
    padding: 3.2rem;
    text-align: left;
}

.about-cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 1.6rem;
}

.about-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 calc(33.3333% - 6.4rem);
    box-sizing: border-box;
    border: var(--border-card);
    border-radius: var(--border-radius);
    padding: 4rem 3.2rem 3.2rem;
    box-shadow: var(--box-shadow-card);
    background-color: var(--color-background-card);
    position: relative;
}

.card-accent {
    width: 100%;
    height: 0.8rem;
    background-color: var(--color-primary-500);
    position: absolute;
    top: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    align-self: center;
}

.about-card-image {
    background-color: rgba(22, 37, 71, 0.15);
    max-width: 28rem;
}

.about-card-image-friendly {
    border-radius: 54% 46% 38% 62% / 71% 71% 29% 29%;
}

.about-card-image-safety {
    border-radius: 30% 70% 43% 57% / 52% 45% 55% 48%;
}

.about-card-image-skill {
    border-radius: 58% 42% 80% 20% / 36% 71% 29% 64%;
}

.about-card-header {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: var(--color-text-primary);
    font-weight: 700;
}

.find-card {
    background-color: var(--color-background-card);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-card);
    border: var(--border-card);
    padding: 3.2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.img-card {
    border: var(--border-card);
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-radius);
    transition: all 0.2s ease;
}

.disease-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--color-background-card);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-card);
    border: var(--border-card);
    text-align: center;
    padding: 3.2rem;
}

.contact-card {
    box-sizing: border-box;
    background-color: var(--color-background-card);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-card);
    border: var(--border-card);
    padding: 3.2rem;

}

.landing-graphic {
    position: absolute;
    right: -25rem;
    bottom: -0.6rem;
    max-height: 80vh;
    max-width: 95rem;
    z-index: 1;
}

.about-graphic {
    position: absolute;
    right: -20rem;
    bottom: 0;
    max-width: 80rem;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color-text-primary);
    transition: color 0.2s ease;
}

.about-background-color {
    background-color: var(--color-background-about-page);
}

.find-background-color {
    background-color: var(--color-background-find-page);
}

.contact-background-color {
    background-color: var(--color-background-contact-page);
}

.diseases-background-color {
    background-color: var(--color-background-diseases-page);
}

.diseases-background-red {
    background-color: red;
}

.diseases-graphic-top-right {
    position: absolute;
    right: -10rem;
    top: -20rem;
}

.diseases-graphic-bottom-left {
    position: absolute;
    left: -8rem;
    bottom: 2rem;
}

.footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-background-footer);
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 6.4rem 0;
    max-width: 150rem;
}

.footer > * {
    flex-basis: 0;
    flex-grow: 1;
}

.nav-icon {
    position: absolute;
    left: -3rem;
}

.button-icon {
    position: absolute;
    right: 3rem;
    transition: right 0.2s ease;
}

.external-link-icon {
    position: absolute;
}

.telephone-link-icon {
    position: absolute;
    right: -2.4rem;
}

.continue-icon {
    position: fixed;
    bottom: 3.2rem;
    transition: transform 0.2s ease;
    animation: pulse_slow 5s infinite;
    opacity: 1;
    z-index: 2;
    left: calc(50% - 1.7rem);
    border: 1px solid transparent;
}

.continue-icon-responsive {
    display: none;
}

@keyframes pulse_slow {
    20% {
        transform: scale(1.2);
        transform: translateY(-10px);
    }

    40% {
        transform: scale(1);
        transform: translateY(0px);
    }
}

@keyframes change_color {
    20% {
        stroke: var(--color-primary-600);
    }

    40% {
        stroke: var(--color-arrow);
    }
}

.continue-arrow {
    stroke: var(--color-arrow);
    transform: stroke 0.2s ease;
    animation: change_color 5s infinite;
}

/* UTILITY STYLES */

.hide {
    display: none;
}

.unhide {
    display: flex;
}

.stop-scroll {
    overflow: hidden;
}

.border-bottom {
    border-bottom: 3px solid var(--color-primary-700);
}

.blue-text {
    color: var(--color-primary-900);
}

.bold-text {
    font-weight: 700;
}

.rotate {
    transform: rotate(-90deg);
}

.center-text {
    text-align: center;
}

.scroll-animated-up {
    transform: translateY(300px);
    opacity: 0;
}

.scroll-animated-left-up {
    transform: translate(150px, 300px);
    opacity: 0;
}

.scroll-animated-left-up-done {
    transform: translate(0, 0);
    opacity: 1;
}

.scroll-animated-right-up {
    transform: translate(-150px, 300px);
    opacity: 0;
}

.scroll-animated-right-up-done {
    transform: translate(0, 0);
    opacity: 1;
}

.scroll-animated-up-done {
    transform: translateY(0);
    opacity: 1;
}

.scroll-animated-left {
    transform: translateX(300px);
    opacity: 0;
}

.scroll-animated-left-done {
    transform: translateX(0);
    opacity: 1;
}

.scroll-animated-right {
    transform: translateX(-300px);
    opacity: 0;
}

.scroll-animated-right-done {
    transform: translateX(0);
    opacity: 1;
}

.scroll-animated-up-anim {
    animation: fadeInUpScroll 1s ease;
}

.scroll-animated-left-up-anim {
    animation: fadeInUpLeftScroll 1s ease;
}

.scroll-animated-right-up-anim {
    animation: fadeInUpRightScroll 1s ease;
}

.scroll-animated-left-anim {
    animation: fadeInLeftScroll 1s ease;
}

.scroll-animated-right-anim {
    animation: fadeInRightScroll 1s ease;
}

.fadeInUp {
    animation: fadeInUp 0.8s ease;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpScroll {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpLeftScroll {
    0% {
        opacity: 0;
        transform: translate(150px, 300px)
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInUpRightScroll {
    0% {
        opacity: 0;
        transform: translate(-150px, 300px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInLeftScroll {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRightScroll {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ID STYLING */

#main-div {
    background-color: var(--color-background);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 300px;
    left: 0;
    background-color: var(--color-background);
    opacity: 0;
}

#top-of-site-pixel-anchor-two {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 1200px;
    left: 0;
    background-color: var(--color-background);
    opacity: 0;
}

#landing-page {
    width: 100%;
    max-width: 183.4rem;
    max-height: 80rem;
    height: calc(100vh - (10.8rem + 12.8rem));
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}

#landing-page-background-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: calc(10.5rem + 12.8rem);
}

#landing-page .left-side {
    margin-left: 16.7rem;
}

body.header-not-at-top .continue-icon {
    display: none;
}

/* Styling for slightly narrower screens */

@media screen and (max-width: 1400px) {
    .full-page {
        width: 90%;
    }

    .navbar {
        width: 90%;
    }

    #landing-page .left-side {
        margin-left: 6.8rem;
    }

}

@media screen and (max-width: 1250px) {
    .about-graphic {
        max-width: 70rem;
        right: -20rem;
    }
}

/* Adjust about cards for narrower screens */

@media screen and (max-width: 1220px) {
    .about-cards-wrapper {
        justify-content: center;
    }

    .about-cards-wrapper > :first-child {
        margin-right: 6.4rem;
    }

    .about-cards-wrapper > :last-child {
        margin-top: 6.4rem;
    }

}

/* Styling for narrow screens */

@media screen and (max-width: 1100px) {
    p {
        font-size: 1.8rem;
    }

    .nav-link {
        font-size: 1.6rem;
    }

    .section-heading {
        font-size: 5rem;
    }

    .title {
        font-size: 7rem;
    }

    .section-subheading {
        font-size: 2.4rem;
    }

    .about-card-header {
        font-size: 2.4rem;
    }

    .normal-text {
        font-size: 1.8rem;
    }

    .logo {
        font-size: 2.2rem;
    }

    .contact-button {
        font-size: 1.6rem;
    }

    .about-graphic {
        right: -22rem;
    }

    .find-card-section-heading {
        font-size: 1.6rem;
        text-align: center;
    }

    .find-card-section-info {
        font-size: 1.8rem;
        text-align: center;
    }

    .disease-heading {
        font-size: 1.6rem;
    }

    .disease-text {
        font-size: 1.8rem;
    }

    .disease-button {
        font-size: 1.6rem;
    }
}

/* Adjust images */
@media screen and (min-width: 500px) and (max-width: 950px) {
    .normal-image {
        max-width: 45rem;
    }
}

@media screen and (max-width: 500px) {
    .normal-image {
        max-width: 100%;
    }

    .about-card-image {
        max-width: 100%;
    }
}

/* Styling for mobile screens */
@media screen and (max-width: 950px) {

    /* Make navbar responsive for mobile screens */
    .navbar {
        display: flex;
        flex-flow: column nowrap;
    }

    .navbar-div-responsive {
        background-color: var(--color-primary-500);
        transition: background-color 0.2s ease;
    }

    .nav-div {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .nav-top-row {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .responsive .nav-div-wrapper {
        height: calc(100vh - 5.8rem);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive .nav-div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .responsive .logo, .responsive .menu-icon {
        color: var(--color-text-white);
        stroke: var(--color-text-white);
    }

    .responsive .nav-link {
        display: block;
        text-align: center;
        color: var(--color-text-white);
        font-size: var(--text-size-nav-link-open);
        border-bottom: 2px solid var(--color-text-white);
    }

    /* Remove the icons for the nav links */
    .responsive svg:not([class^="menu"]) {
        display: none;
    }

    .responsive .nav-div .nav-link:not(:last-child) {
        margin-bottom: 4.8rem;
    }

    .responsive .nav-link:hover::after {
        width: 0%;
    }

    .responsive .margin-right-large {
        margin-right: 0;
    }

    .logo {
        font-size: 1.8rem;
    }

    .logo img {
        width: 4rem;
        height: 4.9rem;
    }

    .layout {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .left-side {
        align-items: center;
        margin-bottom: 6.4rem;
    }

    .right-side {
        align-items: center;
    }

    .margin-top-very-large {
        margin-top: 3.2rem;
    }

    .margin-right-small {
        margin-right: 0.8rem;
    }

    .margin-bottom-small {
        margin-bottom: 0.8rem;
    }

    .margin-bottom-medium {
        margin-bottom: 1.6rem;
    }

    .margin-bottom-large {
        margin-bottom: 3.2rem;
    }

    .margin-bottom-about-page {
        margin-bottom: 0;
    }

    .margin-bottom-very-large {
        margin-bottom: 0rem;
    }

    .margin-bottom-diseases-page {
        margin-bottom: 0rem;
    }

    .margin-bottom-contact {
        margin-bottom: 6.4rem;
    }

    .margin-bottom-massive {
        margin-bottom: 12.8rem;
    }

    .padding-top-mini {
        padding-top: 0.3rem;
    }

    .padding-top-small {
        padding-top: 0.8rem;
    }

    .padding-top-medium {
        padding-top: 1.6rem;
    }

    .padding-bottom-small {
        padding-bottom: 0.8rem;
    }

    .section-heading {
        font-size: 4rem;
    }

    .title {
        font-size: 5rem;
        text-align: center;
    }

    .about-graphic {
        position: static;
        max-width: 100%;
    }

    .about-cards-wrapper {
        flex-flow: column nowrap;
        align-items: center;
    }

    .about-cards-wrapper > :not(:last-child) {
        margin-bottom: 6.4rem;
        margin-right: 0;
    }

    .about-cards-wrapper > :last-child {
        margin-top: 0;
    }

    .about-card {
        max-width: 50rem;
    }

    .find-card {
        align-items: center;
    }

    .find-text {
        text-align: center;
    }

    .disease-div {
        grid-template:
            1fr / 1fr;
    }

    .diseases-layout {
        align-items: center;
    }

    .disease-heading {
        text-align: center;
    }

    .diseases-graphic-top-right {
        display: none;
    }

    .diseases-graphic-bottom-left {
        display: none;
    }

    .section-heading {
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .section-subheading {
        text-align: center;
    }

    .footer {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .footer >:not(:last-child) {
        margin-bottom: 3.2rem;
    }

    .footer >:nth-child(2) {
        order: 1;
    }

    .footer >:nth-child(1) {
        order: 2;
    }

    .footer >:nth-child(3) {
        order: 3;
    }

    .footer-contact-info-div {
        align-items: center;
    }

    .footer-attribution-wrapper {
        justify-content: center;
    }

    .footer-attribution-div {
        text-align: center;
        align-items: center;
    }

    #landing-page {
        height: auto;
        max-height: none;
        width: 90%;
    }

    #landing-page-background-div {
        margin-top: calc(6.6rem + 3.2rem)
    }

    #landing-page .left-side {
        margin-left: 0;
    }

    .landing-graphic {
        position: static;
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .section-heading {
        font-size: 3.2rem;
    }

    .title {
        font-size: 4.5rem;
    }
}

/* Add hover states on larger screens */
@media screen and (min-width: 500px) {
    .contact-button:hover {
        transform: scale(1.03);
        background-color: var(--color-background-button-hovered);
        box-shadow: 0px 7px 20px var(--color-shadow-hovered);
    }

    .contact-button:active {
        box-shadow: none;
        outline: none;
    }

    .disease-button:hover {
        transform: scale(1.03);
        background-color: var(--color-background-button-hovered);
        box-shadow: 0px 7px 20px var(--color-shadow-hovered);
    }

    .disease-button:hover, .disease-button:active {
        stroke: var(--color-text-white);
    }

    .disease-button:hover .button-icon, .disease-button:active .button-icon {
        right: 2rem;
    }

    .disease-button:active {
        box-shadow: none;
        outline: none;
    }

    .continue-icon:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease;
    }

    .continue-icon:hover .continue-arrow {
        stroke: var(--color-arrow-hovered);
        transform: stroke 0.2s ease;
    }

    .img-card:hover {
        box-shadow: var(--box-shadow-card-hovered);
        transform: scale(1.01);
    }

    .to-top-button:hover {
        transform: scale(1.03);
        background-color: var(--color-background-button-hovered);
        box-shadow: 0px 7px 20px var(--color-shadow-hovered);
    }
}

@media screen and (max-height: 750px) and (min-width: 950px) {
    #landing-page {
        padding-bottom: 6.4rem;
    }

    #landing-page-background-div {
        margin-top: calc(10.5rem + 6.4rem);
    }
}

@media screen and (min-width: 1500px) {
    .landing-graphic {
        position: absolute;
        bottom: -0.6rem;
        right: 0;
    }
}

@media screen and (max-height: 750px) and (min-width: 1450px) {
    .landing-graphic {
        right: 0rem;
    }
}

@media screen and (max-width: 1400px) and (max-height: 750px) {
    .landing-graphic {
        right: -10rem;
    }
}

/* Small adjustments */
@media screen and (max-width: 1148px) and (min-width: 950px) {
    .padding-top-mini {
        padding-top: 0;
    }

    .landing-graphic {
        right: -35rem;
    }
}

@media screen and (min-width: 1550px) {
    .title-subheading {
        max-width: 40rem;
    }
}

@media screen and (min-height: 1000px) and (min-width: 1750px) {
    .landing-graphic {
        max-height: 90vh;
        max-width: 115rem;
    }

    #landing-page {
        max-height: 100rem;
    }

    #landing-page .left-side {
        padding-top: 6.4rem;
    }
}
