/* Light mode colors */
:root[color-mode="light"] {

    /* Light background colors */
    --color-background: #FFFFFF;
    --color-background-text: #EBF5FE;
    --color-background-contact-button: #FFFFFF;
    --color-background-landing-page: #FFFFFF;
    --color-background-about-page: #FFFFFF;
    --color-background-find-page: #FFFFFF;
    --color-background-contact-page: #FFFFFF;
    --color-background-diseases-page: #FFFFFF;
    --color-background-footer: #2D4F9F;
    --color-background-contact-button-active: #e5f3fd;

    /* Light primary/secondary etc. colors */
    --color-primary-900: #2D4F9F;
    --color-primary-800: #376DBF;
    --color-primary-700: #3D7ED1;
    --color-primary-600: #4490E4;
    --color-primary-300: #76BCF6;
    --color-primary-200: #9ACFF9;

    --color-secondary-900: #0D620B;

    /* Light text colors */
    --color-text-primary: #232A3A; /* 14.34 contrast against FFF */
    --color-text-secondary: #54565D; /* 7.32 contrast against FFF */
    --color-link-hover: #2D4F9F;
    --color-text-white: #F5F6FA;

    /* Light component colors */
    --color-arrow: #7C7E82; /* 4.06 contrast against FFF */
    --color-arrow-hovered: #7c7e82b4;
    --color-heart: 	#a6d8a1;

    /* Light colors */
    --color-white: #FFFFFF;
    --color-black: #212121;
}

/* Dark mode colors */
:root[color-mode="dark"] {
    --color-background: #040A17;
}

/* TAG STYLING */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

p {
    font-family: "Source Sans Pro", Arial;
    font-size: 2rem;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* CLASS STYLING */

/* Layout styles */

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 150rem;
}

.navbar-div {
    width: 100%;
    background-color: var(--color-black);
    margin-bottom: 12.8rem;
}

.full-page {
    width: 80%;
    max-width: 150rem;
}

.full-page-background {
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.full-height {
    height: 100vh;
}

.diseases-layout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#diseases-page.full-page-background {
    overflow: hidden;
    padding-bottom: 0.3rem;
}

.disease-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 6.4rem;
    row-gap: 6.4rem;
    position: relative;
}

.align-start {
    align-items: start;
}

.left-side {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.right-side {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.center-items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.nav-div {
    display: flex;
    flex-flow: row nowrap;
    justify-self: end;
}

.contact-subheading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.column-gap-small {
    column-gap: 1.6rem;
}

.column-gap-medium {
    column-gap: 3.2rem;
}

.column-gap-large {
    column-gap: 6.4rem;
}

.column-gap-very-large {
    column-gap: 12.8rem;
}

.margin-top-none {
    margin-top: 0;
}

.margin-right-small {
    margin-right: 1.6rem;
}

.margin-right-medium {
    margin-right: 3.2rem;
}

.margin-right-large {
    margin-right: 6.4rem;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-bottom-very-small {
    margin-bottom: 0.8rem;
}

.margin-bottom-small {
    margin-bottom: 1.6rem;
}

.margin-bottom-medium {
    margin-bottom: 3.2rem;
}

.margin-bottom-large {
    margin-bottom: 6.4rem;
}

.margin-bottom-very-large {
    margin-bottom: 12.8rem;
}

.margin-bottom-massive {
    margin-bottom: 25.6rem;
}

.margin-bottom-logo {
    margin-bottom: 18rem;
}

.padding-top-small {
    padding-top: 1.6rem;
}

.padding-top-medium {
    padding-top: 3.2rem;
}

.padding-bottom-small {
    padding-bottom: 1.6rem;
}

.padding-bottom-medium {
    padding-bottom: 3.2rem;
}

.border-radius-medium {
    border-radius: 20px;
}

.inline {
    display: inline;
}

/* Text styles */

.section-heading {
    font-family: "Source Serif Pro";
    font-size: 6.4rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.section-subheading {
    font-family: "Source Sans Pro";
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.title {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.normal-text {
    font-family: "Source Sans Pro", Arial;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
}

.nav-link {
    color: var(--color-text-white);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--color-primary-200);
    transition: width 0.5s;
}

.nav-link:hover::after {
    width: 100%;
}

.find-card-section-heading {
    font-family: "Source Sans Pro", Arial;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.find-card-section-info {
    font-family: "Source Sans Pro", Arial;
    font-size: 2rem;
    font-weight: 400;
}

.address-link {
    color: var(--color-text-primary);
    border-bottom: 2px solid var(--color-primary-900);
}

.footer-text {
    color: var(--color-text-white);
}

.personal-page-link:visited {
    color: var(--color-text-white);
}

.disease-heading {
    font-family: "Source Sans Pro", Arial;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-text-primary);
}

.disease-text {
    font-family: "Source Sans Pro", Arial;
    font-size: 2rem;
    font-weight: 400;
    max-width: 50rem;
    color: var(--color-text-primary);
}

/* Component styles */

.no-bottom-border:hover::after {
    width: 0;
}

.menu-icon {
    transition: transform 0.2s ease;
    display: none;
}

.heading-accent {
    width: 5rem;
    height: 0.5rem;
    background-color: var(--color-primary-800);
    border-radius: 20px;
}

.contact-button {
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-primary-900);
    background-color: var(--color-background-contact-button);
    border: 4px solid var(--color-primary-900);
    border-radius: 5px;
    padding: 1.6rem 3.2rem;
    box-shadow:  0px 3px 1px -2px rgba(0, 0, 0, 0.2), /*  2dp - umbra */
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), /* 2dp - penumbra */
    0px 1px 5px 0px rgba(0, 0, 0, 0.12); /* 2dp - ambient */
    transition: box-shadow 0.2s ease, transform 0.2s ease, 
                background-color 0.2s ease;
}

.to-top-button {
    position: fixed;
    bottom: 3.2rem;
    right: 3.2rem;
    height: 10rem;
    width: 10rem;
    font-family: "Source Sans Pro", Arial;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    border: 4px solid var(--color-primary-900);
    border-radius: 50%;
}

.disease-button {
    font-family: "Source Sans Pro", Arial;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-primary-900);
    background-color: var(--color-background-contact-button);
    border: 4px solid var(--color-primary-900);
    border-radius: 5px;
    padding: 1.6rem 3.2rem;
    outline: none;
    border-radius: 5px;
    box-shadow:  0px 3px 1px -2px rgba(0, 0, 0, 0.2), /*  2dp - umbra */
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), /* 2dp - penumbra */
    0px 1px 5px 0px rgba(0, 0, 0, 0.12); /* 2dp - ambient */
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.text-box {
    box-sizing: border-box;
    background-color: var(--color-background-text);
    border-radius: 20px;
    padding: 3.2rem;
    text-align: left;
}

.find-card {
    background-color: var(--color-background-text);
    border-radius: 20px;
    padding: 3.2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.img-card {
    border: 4px solid var(--color-black);
    box-shadow:  0px 2px 1px -1px rgba(0, 0, 0, 0.2), /* 1dp - umbra */
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), /* 1dp - penumbra */
    0px 1px 3px 0px rgba(0, 0, 0, 0.12); /* 1dp - ambient */
}

.disease-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-background-text);
    border-radius: 20px;
    box-shadow:  0px 2px 1px -1px rgba(0, 0, 0, 0.2), /* 1dp - umbra */
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), /* 1dp - penumbra */
    0px 1px 3px 0px rgba(0, 0, 0, 0.12); /* 1dp - ambient */
    padding: 3.2rem;
}

.landing-graphic {
    background-color: var(--color-background);
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro", Arial;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-text-white);
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.about-background-color {
    background-color: var(--color-background-about-page);
}

.find-background-color {
    background-color: var(--color-background-find-page);
}

.contact-background-color {
    background-color: var(--color-background-contact-page);
}

.diseases-background-color {
    background-color: var(--color-background-diseases-page);
}

.diseases-graphic-top-right {
    position: absolute;
    right: -10rem;
    top: -20rem;
}

.diseases-graphic-bottom-left {
    position: absolute;
    left: -8rem;
    bottom: 2rem;
}

.footer {
    background-color: var(--color-black);
    width: 100%;
    color: var(--color-text-primary);
    padding: 1.6rem 0;
    text-align: center;
}

.continue-icon {
    position: fixed;
    bottom: 3.2rem;
    transition: transform 0.2s ease;
    animation: pulse_slow 5s infinite;
    opacity: 1;
}

@keyframes pulse_slow {
    20% {
        transform: scale(1.2);
        transform: translateY(-10px);
    }

    40% {
        transform: scale(1);
        transform: translateY(0px);
    }
}

@keyframes change_color {
    20% {
        stroke: var(--color-primary-600);
    }

    40% {
        stroke: var(--color-arrow);
    }
}

.continue-arrow {
    stroke: var(--color-arrow);
    transform: stroke 0.2s ease;
    animation: change_color 5s infinite;
}

/* UTILITY STYLES */

.hide {
    display: none;
}

.border-bottom {
    border-bottom: 3px solid var(--color-primary-700);
}

.blue-text {
    color: var(--color-primary-900);
}

.strong-text {
    font-weight: 700;
}

.rotate {
    transform: rotate(-90deg);
}

/* ID STYLING */

#main-div {
    background-color: var(--color-background);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 300px;
    left: 0;
    background-color: var(--color-background);
    opacity: 0;
}

body.header-not-at-top .continue-icon {
    display: none;
}

/* Styling for slightly narrower screens */

@media screen and (max-width: 1400px) {
    .full-page {
        width: 90%;
    }

    .navbar {
        width: 90%;
    }

}


/* Styling for narrow screens */

@media screen and (max-width: 1100px) {
    p {
        font-size: 1.8rem;
    }

    .section-heading {
        font-size: 5rem;
    }

    .section-subheading {
        font-size: 2.5rem;
    }

    .normal-text {
        font-size: 1.8rem;
    }

    .logo {
        font-size: 1.8rem;
    }

    .contact-button {
        font-size: 1.8rem;
    }

    .find-card-section-heading {
        font-size: 1.8rem;
    }

    .find-card-section-info {
        font-size: 1.8rem;
    }

    .disease-heading {
        font-size: 1.6rem;
    }

    .disease-text {
        font-size: 1.8rem;
    }

    .disease-button {
        font-size: 1.8rem;
    }
}


/* Styling for mobile screens */

@media screen and (max-width: 950px) {
    .navbar-div {
        margin-bottom: 3.2rem;
    }

    /* Make navbar responsive for mobile screens */
    .navbar {
        display: block;
        position: relative;
    }

    .nav-div {
        display: none;
    }

    .logo {
        float: left;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 0;
        top: 2rem;
    }

    .responsive .nav-div {
        display: block;
        width: 100%;
        padding: 0;
        padding-top: 9.6rem;
        margin: auto;
    }

    .responsive .nav-link {
        display: block;
        text-align: center;
        margin: 0;
    }

    .responsive .nav-link:hover::after {
        width: 0%;
    }

    .responsive .margin-right-medium {
        margin-right: 0;
    }

    .layout {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        align-items: center;
    }

    .left-side {
        align-items: center;
        margin-bottom: 6.4rem;
    }

    .right-side {
        align-items: center;
    }

    .margin-bottom-small {
        margin-bottom: 0.8rem;
    }

    .margin-bottom-medium {
        margin-bottom: 1.6rem;
    }

    .margin-bottom-large {
        margin-bottom: 3.2rem;
    }

    .margin-bottom-very-large {
        margin-bottom: 6.4rem;
    }

    .margin-bottom-massive {
        margin-bottom: 12.8rem;
    }

    .section-heading {
        font-size: 4rem;
    }

    .disease-div {
        grid-template: 
            1fr
            / 1fr;
    }

    .diseases-layout {
        align-items: center;
    }

    .disease-card {
        align-items: center;
    }

    .diseases-graphic-top-right {
        display: none;
    }

    .diseases-graphic-bottom-left {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 3.6rem;
    }
}

@media screen and (min-width: 500px) {
    .contact-button:hover {
        transform: translateY(-8px);
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), /* 8dp - umbra */
        0px 8px 10px 1px rgba(0, 0, 0, 0.14), /* 8dp - penumbra */
        0px 3px 14px 2px rgba(0, 0, 0, 0.12); /* 8dp - ambient */
        transition: box-shadow 0.2s ease, transform 0.2s ease, 
                    background-color 0.2s ease;
    }

    .contact-button:active {
        box-shadow: none;
        outline: none;
        background-color: var(--color-background-contact-button-active);
        transition: box-shadow 0.2s ease, background-color 0.2s ease;
    }

    .disease-button:hover {
        transform: translateY(-8px);
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), /* 8dp - umbra */
        0px 8px 10px 1px rgba(0, 0, 0, 0.14), /* 8dp - penumbra */
        0px 3px 14px 2px rgba(0, 0, 0, 0.12); /* 8dp - ambient */
        transition: box-shadow 0.2s ease, transform 0.2s ease;
    }

    .disease-button:active {
        box-shadow: none;
        outline: none;
        transition: box-shadow 0.2s ease;
    }

    .continue-icon:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease;
    }

    .continue-icon:hover .continue-arrow {
        stroke: var(--color-arrow-hovered);
        transform: stroke 0.2s ease;
    }
}